@model IEnumerable<RecipeBook.Models.Recipe>

@{
    ViewData["Title"] = "My recipes";
}

<h1>My recipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container mt-3">
    <div class="row">
        @foreach (var recipe in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@Url.Action("GetImage", "Recipes", new { id = recipe.Id })" class="card-img-top" alt="@recipe.Title">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Title</h5>
                        <p class="card-text">@recipe.Description</p>
                        <a href="@Url.Action("Details", "Recipes", new { id = recipe.Id })" class="btn btn-primary">View</a>
                        <a href="@Url.Action("Edit", "Recipes", new { id = recipe.Id })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", "Recipes", new { id = recipe.Id })" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>